* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    ;
}

html.lock {
    overflow-y: hidden;
}

:root {
    --blue: #3EC6E0;
    --dark-blue: #084154;
    --silver: #EBEBEB;
}

body {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex: 1;
    overflow-x: hidden;
}

.flex-vr {
    display: flex;
    flex-flow: column;
}

.flex-hr {
    display: flex;
    flex-flow: row;
}

a:link {
    color: unset;
    text-decoration: none;
}

a:visited {
    color: unset;
}

a:hover {
    color: unset;
}

.clickable:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.inverted-color {
    filter: invert(1);
}

span.badge {
    background-color: var(--blue);
    padding: 7px;
    line-height: 10px;
    height: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    border-radius: 50%;
    place-self: flex-end;
}

game {
    display: none;
}