/*  HEADER */

.header {
    padding: 10px 200px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 200ms;
    z-index: 1;
}

.header div {
    display: flex;
    color: white;
    place-items: center;
}

.header .left {
    gap: 40px;
}

.header .right {
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
}

.header .right a {
    height: 100%;
}

.search input {
    padding: 10px;
    background-color: transparent;
    width: 45px;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: 200ms;
}

.search input.searching {
    width: 200px;
    background-color: rgba(256, 256, 256, 0.1);
    color: white;
    visibility: visible;
}

.header-games-overlay {
    position: absolute;
    width: auto;
    height: 250px;
    top: 60px;
    left: 169px;
    display: none;
    background-color: var(--blue);
    border-radius: 5px;
    z-index: 999;
    place-content: center;
    box-shadow: 5px 5px 0px var(--blue);
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
}

.header-games-overlay::after {
    content: '';
    position: absolute;
    top: -7px;
    left: 36px;
    width: 15px;
    height: 15px;
    z-index: 998;
    background-color: var(--blue);
    transform: rotate( 45deg);
}

.header-games-overlay.active {
    display: flex!important;
    opacity: 1;
    visibility: visible;
}

.header-games-overlay-bg {
    margin: 4px;
    height: calc(100% - 23px);
    background: var(--dark-blue);
    border-radius: 5px;
    z-index: 1000;
    place-items: flex-start;
    padding-top: 20px;
}

.header-games-overlay-bg ul {
    list-style-type: none;
    padding: 10px 3px;
    align-self: flex-start;
    text-align: start;
    gap: 5px;
}

.header-games-overlay-bg span {
    font-weight: bold;
    margin-bottom: 12px;
    padding: 0 30px;
}

.header-games-overlay-bg ul li {
    padding: 0 25px;
    text-align: start;
    white-space: nowrap;
    border-radius: 5px;
}

.header-games-overlay-bg ul li:hover {
    background-color: var(--blue);
}

.header-games-overlay-bg ul li a {
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 5px;
}

div.vertical-line {
    width: 1px;
    background-color: white;
    height: 50%;
    float: left;
}

.modal {
    display: none;
    align-items: center;
    position: fixed;
    place-content: center;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 65, 84, 0.62);
}

.modal-order {
    background-color: white;
    border-radius: 5px;
    animation: modal-anim 300ms ease;
    animation-fill-mode: forwards;
    opacity: 0;
    position: absolute;
}

.modal-order .bottom img {
    transform: translateY(75px);
    animation: mario-anim 400ms ease 200ms;
    animation-fill-mode: forwards;
}

.modal-order .bottom {
    padding: 50px 0 0;
    overflow-y: hidden;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--dark-blue);
}

.modal.active {
    display: flex;
}


/* BANNER */

.banner-info {
    width: 30%;
    float: right;
    color: white;
    text-align: end;
    padding: 163px 250px 0px;
    height: 75vh;
    align-items: flex-end;
}

.banner-info-title,
.banner-info-price {
    font-weight: bold;
    font-size: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.banner-nav {
    height: 265px;
    width: 50px;
    position: absolute;
    top: 180px;
    right: 0;
    gap: 5px;
    background-color: var(--blue);
    color: white;
    z-index: 99999;
    border-radius: 0 0 0px 10px;
    overflow: hidden;
}

.banner-nav-title {
    writing-mode: vertical-lr;
    place-self: center;
    margin-top: 8px;
    flex: 1 1;
    font-size: 14px;
}

.banner-line-separator {
    flex: 0.3;
    width: 1px;
    background-color: white;
    place-self: center;
}

.banner-nav-self {
    background: var(--dark-blue);
    text-align: center;
}

.banner-nav-self .arrows {
    display: flex;
    gap: 10px;
    place-content: center;
    padding: 5px 0;
}

.banner-slide {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 75vh!important; */
}


/*GAMES OVERLAY*/

.games-overlay {
    display: flex;
    height: auto;
    transform: translateY(84vh);
    place-content: center;
    gap: 10px;
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
}

.game-overlay {
    width: 420px;
    height: 270px;
    display: flex;
    background-size: cover;
    transition: 150ms ease;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.game-overlay:hover {
    transform: scale(0.99);
}

.games-overlay .game-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    flex: 1;
    place-self: flex-end;
    background: var(--blue);
    border-left: 10px solid var(--dark-blue);
    padding: 0 15px;
}

.games-overlay .game-footer hr {
    color: black;
    flex: 1;
    height: 0px;
}


/* MAIN */

.main {
    margin: 230px auto 150px;
    max-width: 800px;
}

.highlight {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}

.highlight>span {
    font-size: 24px;
}

.games-card-container {
    padding: 0 20px;
    display: flex;
    gap: 20px;
}

.game-card {
    width: 250px;
    height: 400px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    overflow: hidden;
    transition: 150ms ease;
}

.game-card:hover {
    transform: translateY(-10px);
}

.game-card .card-top {
    flex: 0.66;
    background: white;
    background-size: cover;
    padding: 20px;
    background-position: center;
    border-bottom: 2px solid var(--blue);
}

.game-card .card-bottom {
    flex: 0.33;
    background: #F5F5F5;
    padding: 10px;
    color: var(--dark-blue);
    justify-content: space-between;
}

.game-card .card-bottom .btn-buy {
    padding: 10px 20px;
    margin: 0 25px;
    background: var(--blue);
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.game-card .card-bottom .btn-buy.bought {
    text-align: start;
    background: var(--dark-blue);
}

.btn-buy.bought::after {
    content: '';
    height: 50px;
    width: 30px;
    position: absolute;
    background-image: url(../img/mario_peace.png);
    background-size: cover;
    background-position-x: center;
    transform: translate(30px, -22px);
}

.footer {
    align-items: center;
}

.footer .left {
    flex: 0.5;
    background: var(--dark-blue);
    padding: 10px 50px;
    height: calc(52px - 2*10px);
    text-align: end;
}

.footer .right {
    background: var(--blue);
    flex: 3;
    display: flex;
    height: 52px;
}

.footer .right span {
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: white;
}

.main-games-cards-carousel img {
    display: none;
}


/* CENTER FIX SLICK */

.main-games-cards-carousel .slick-initialized .slick-slide {
    display: flex!important;
    justify-content: center!important;
}

div.search>input.searching+.header>.right>*:not(.search) {
    display: none;
}


/* Animations */

@keyframes modal-anim {
    0% {
        display: none;
    }
    1% {
        display: flex;
        opacity: 0;
        transform: translateY(100%);
    }
    50% {
        top: 100%;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes mario-anim {
    0% {
        transform: translateY(75px) scaleY(1);
    }
    70% {
        transform: translateY(-20px) scaleY(1.1);
    }
    100% {
        transform: translateY(0) scaleY(1);
    }
}